h1{
    color: purple;
    border-style: solid;
    border-color:purple;
    border-width: 5px;
    background-color: plum;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.food{
    background-color: black;;
    opacity: 0;
    font-size: large;
}

h2{
    color: green;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: large;
}

h3{
    color: red;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: large;
}

h4{
    color: blue;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: large;
}

h5{
    color: green;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: large;
}