
body {background-color: #88c6f8;}

.image 
{ display: block;
margin-left: auto;
margin-right: auto;
width: 50%}

.head {
    color: rgb(51, 51, 51);
    border-style:double;
    border-color:darkslategray;
    background-color: #c8dae9(74, 57, 88);
}

#head {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000000,
    1px 1px 0 #000,
    }

    .navCategory:hover {
        background-color: #689cc7;
    }
    
    .nav-link {
        color: white;}

    .space { 
        color: rgb(51, 51, 51);
        border-style: solid ;}
    .info{
        color: rgb(51, 51, 51);
        background-color: #88c6f89c;
        border-style:hidden;
        border-color: darkslategray;
        padding-top: 10px;
}

