

.button{
    display:inline-block;
    padding:25px;
    color:rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(34, 194, 243);
    border:2px solid;
    border-color: rgb(0, 143, 238);
    background-image: linear-gradient(to bottom, #4682b4, rgb(148, 212, 255));
    box-shadow: inset 0 1px rgba(22, 17, 17, 0.09) 0 1px 0 1px;
    text-decoration: none;
    position:relative;
    font-family:cursive;


}

.button:hover{
background-color:rgb(214, 196, 196);
background-image:linear-gradient(to bottom, rgb(33, 153, 143), rgba(47, 74, 150, 0.692));
}
.button:active, .button:active{
    background-color:#ffffff;
    border-color:#1e193a #202020 #222;
    box-shadow: inset 0 2px 4px rgba(78, 231, 47, 0.3), 0 1px rgba(255, 255, 255, .09)
}


.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  #container{

    width: 40%;
    height: 400px;
    position: absolute;
    top:400px;
    right:30px;
    
  
  }

  #inner_container{
    width: 100%;
    height: 80%;
    float: left;
    margin-bottom: 33px;
  
  }




  img{
      
    width: 95%;
    height: 100%;
    border-radius: 10px;
    
  
  }

  #button_container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }










  .image{
      position:relative;
      width: 400px;
  }
  .image__img{
      display: block;
      width: 100%;

  }
  .image__overlay{
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #ffff;
      font-family: 'Quicksand', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.4s;
  }

  .image__overlay:hover{
      opacity: 1;

  }
  .image__overlay--blur{
      backdrop-filter: blur(5px);
  }


  .image__title{
      font-size: 2em;
      font-weight:bold;
  }
  .image__description{
      font-size: 1.25em;
      margin-top: 0.5em;
  }

  #doThis{
      color: rgb(2, 15, 49);
      font-size: 20px;
      
      text-align:center;
      position: absolute;
      top:250px;
      right:175px;
      width:200px;
      word-wrap: normal;
      border: 2px solid gold;
      background-color: honeydew;
          
  }

  .navCategory:hover {
    background-color: #689CC7;
}
  .nav-link {
    color: white;
}


