.sport{
    background-color: chartreuse;
    opacity: 0;
    font-size: large;
}
h1{
    border-style: ridge;
    border-color: red;
    border-width: 30px;
    background-color: yellow;
}
body{
    background-color: darkgreen;
}