.navCategory:hover {
    background-color: #689cc7;
}

.nav-link {
    color: white;
}

.phrase{
    text-emphasis-style: bold;
    text-align: center;
    background-color: cornflowerblue;
    font-size: xx-large;
    border-style: ridge;
    border-color: black;
    font-family: fantasy;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.page{
    text-emphasis-style: bold;
    text-align: center;
    background-color: cornflowerblue;
    font-size: xx-large;
    border-style: ridge;
    border-color: black;
    font-family: fantasy;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}